body {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 10px;
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  display: block;
  padding: 10px;
}

p {
  text-align: center;
}
