* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000d0d;
	width: 100%;
	height: 80vh;
  }
  
  .cube {
	position: relative;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animateD 8s linear infinite;
  }
  
  @keyframes animateD {
	0% {
	  transform: rotateX(-15deg) rotateY(0deg);
	}
  
	100% {
	  transform: rotateX(-15deg) rotateY(-360deg);
	}
  }
  
  .cube div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
  }
  
  .cube div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 2px solid #7dff99;
	transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  }
  
  .topD {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: transparent;
	border: 2px solid #78ff99;
	transform: rotateX(90deg) translateZ(150px);
  }
  
  .topD::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: transparent;
	border: 2px solid #7dff99;
	transform: translateZ(-400px);
	filter: blur(30px);
	box-shadow: 0 0 120px rgba(125, 255, 153, 0.2),
	  0 0 200px rgba(125, 25, 153, 0.4), 0 0 300px rgba(125, 25, 15, 0.6),
	  0 0 4000px rgba(125, 55, 153, 0.8), 0 0 500px rgba(12, 255, 15, 1);
  }
  
  .cube2 {
	position: relative;
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	animation: animateD2 5s ease-out infinite alternate;
  }
  
  @keyframes animateD2 {
	0% {
	  transform: rotateX(0deg) rotateY(0deg);
	}
  
	100% {
	  transform: rotateX(180deg) rotateY(-360deg);
	}
  }
  
  .cube2 div {
	position: absolute;
	top: 35px;
	left: 0;
	width: 65%;
	height: 65%;
	transform-style: preserve-3d;
  }
  
  .cube2 div span {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 65%;
	height: 65%;
	background: transparent;
	border: 2px solid #7dff99;
	transform: rotateY(calc(90deg * var(--i))) translateZ(62px);
  }
  
  .cube3{
	position: absolute;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animateD3 1s ease-in-out infinite alternate;
  }
  
  @keyframes animateD3 {
	0% {
	  transform: rotateX(-90deg) rotateY(0deg);
	}
  
	100% {
	  transform: rotateX(90deg) rotateY(45deg);
	}
  }
  
  .cube3 div {
	position: absolute;
	top: 70px;
	left: 70px;
	width: 15%;
	height: 15%;
	transform-style: preserve-3d;
	
  }
  
  .cube3 div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7dff99;
	transform: rotateY(calc(90deg * var(--i))) translateZ(14px);
	box-shadow: 0px 0px 7px #7dff99;
  }
  
  .top3 {
	position: absolute;
	top: 0;
	left: 0;
	background: #7dff99;
	transform: rotateX(90deg) translateZ(14px);
	box-shadow: 0px 0px 10px #7dff99;
  }
  
  